<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technologies — Estada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/technologies.css') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='logo/ESTADA_Only_Icon.svg') }}">
</head>
<body>
    <main>
        <h1>Hello World</h1>
    </main>
    <script src="{{ url_for('static', filename='js/technologies.js') }}"></script>
</body>
</html>

